@charset "utf-8";
/* CSS Document */

.modal .modal-content {
	background-color: #ecf0f5;
}

.modal.large .modal-dialog {
	width: 95%;
	height: 95%;
	padding: 0px;
}

.modal.large .modal-content {
	height: 100%;
}

.modal.large .modal-content .modal-body {
	height: 100%;
}

div.bootstrap-tagsinput {
	height:unset;
	line-height:200%;
}

.bootstrap-tagsinput .tag.label {
	font-size: unset;
}

.input-group .input-group-addon {
	background-color:#eee;
}